/*
* @Author: dell
* @Date:   2017-09-15 17:44:41
* @Last Modified by:   dell
* @Last Modified time: 2017-09-15 17:52:53
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	background-color: rgba(0, 0, 0, 0.8);
}
main{
	width: 400px;
	height: 280px;
	background:#fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	margin: auto;
}
main h3{
	font-size: 26px;
	text-align: center;
	padding: 20px;
}
main span{
	font-size: 14px;
	color: red;
	padding: 5px;
}
main div{
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}